{% extends 'base.html' %}
<!-- Content block  -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Top Headlines</h2>
      <div class="overflow-auto">
        {% for source in source_list%}
        <div class="card ">
          <div class="row container-fluid">
            <div class="col-md-6">
              <img src={{source.urlToImage}} class="card-img-top " style='width: 100%;' alt="...">
            </div>
            <div class="col-md-6 p-3">
              <h3>{{source.title}}</h3>
              <p style="font-weight: bolder;">By: {{source.author}} : Published At: <em style="font-size:small;">{{source.publishedAt}}</em></p>
              <p class="card-text" style="font-size:large;">{{source.description}}</p>
              <a href={{source.url}}>Read more...</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
