{%macro displayNewsSources(top_headlines)%} {% for source in top_headlines%}
<!-- <span><a href="/source?name={{source.id}}">{{source.description}}</a></span></li> -->
<div class="card shadow-lg p-2 mb-3 bg-body rounded" style="width:100%;">
  <img src={{source.urlToImage}} class="card-img-top " style='width: 100%;' alt="...">
  <div class="card-body">
    <h6 class="card-title">{{source.title}}</h6>
    <p class="card-text" style="font-size: small;">{{source.description}}</p>
  </div>
  <span style="font-weight: bolder;font-size: small;">By: <em style="font-size:x-small;">{{source.author}}</em>&emsp;&emsp; Published At: <em style="font-size:x-small;">{{source.publishedAt}}</em></span>

  <a href="/source?name={{source.url}}">Read more...</a>


</div>

{% endfor %} {%endmacro%}